@import 'tailwindcss';
@import 'tailwindcss-primeui';

::selection {
  background: var(--p-highlight-background);
  color: var(--p-highlight-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-slate-200);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-slate-500);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-slate-600);
}
